/* styles.css */

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  color: #ffffff;
}

form {
  background-color: #f0dbe3;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  width: 450px;
}

label {
  display: block;
  margin-bottom: 30px;
  font-size: 16px;
  color: #ffffff;
  text-align: center; /* Center the label text */
}

input {
  width: 70%;
  padding: 15px;
  margin-bottom: 40px;
  display: block;
  border: 0px solid #f0dbe3;
  border-radius: 8px;
  font-size: 14px;
  margin: auto; /* Center the input box */
}

button {
  background-color: #ffffff;
  color: #f0dbe3;
  padding: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 18px;
  transition: background-color 0.3s;
  display: block;
  margin: auto; /* Center the button */
}

button:hover {
  background-color: #ffffff;
}
