.Login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
/* src/components/Login.css */
.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ffffff; /* Dark blue background color */
}

.login-box {
  background-color: #f7dee1; /* White login box */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); /* Subtle box shadow */
  text-align: center;
}

h2 {
  color: #ffffff; /* Dark blue text color */
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
}

button {
  background-color: #ffffff; /* Green button color */
  color: rgb(252, 203, 203);
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #e0b6bf; /* Darker green on hover */
}

.welcome-message {
  text-align: center;
  color: #e4b1b1; /* White text color */
}
